//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
$primary-color: #0d86ff;
$secondary-color: #cb1a20;
$tertiary-color: #27A0B6;
